@using WebApplication3.Models;

@{

    var lst = ViewBag.students as List<Student>;
    //var lst =(List<Student>) ViewBag.students ;

}

<h2>Students Record</h2>
@Html.ActionLink("Add New Student","Create","Students")

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @foreach (var student in lst)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
            <td>@student.Password</td>
            <td>@student.Address</td>
            <td>
                @Html.ActionLink("View","Details",new {id=student.Id })
            </td>
            <td>
                @Html.ActionLink("Update","Update",new {id=student.Id })
            </td>
            <td>
                @Html.ActionLink("Delete","Delete",new {id=student.Id })
            </td>
        </tr>
    }


</table>`
