@model IEnumerable<WebApplication4.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Teacher
        </th>
        <th>
            Student
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (string.IsNullOrWhiteSpace(item.Image))
            {
                <img src="~/DashBoardAssets/Images/no-image.png" style="height:50px; width:50px;border-radius:50px; box-shadow:5px 5px 5px" />
            }
            else
            {
                <img src="~/Uploads/@item.Image" style="height:50px; width:50px;border-radius:50px; box-shadow:5px 5px 5px" />

            }
        </td>
        <td>
          @item.Teacher.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @item.Password
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
